<!-- ==================START : PARTIAL FOR BOOK-LIST.HTML (EXTERNAL PARTIALS)==============================  -->


<div id="bookListWrapper">		
		<p>&emsp;&emsp;&emsp;Please click on buy button to buy the book.</p>
		<div id="sec">
			<ul class="list-unstyled">
				<li class="book"
				    style="background: white url(imgs/{{book.imgUrl}}) no-repeat"
				    ng-repeat="book in kart">
					<div class="book-details clearfix">
						<h3>{{book.name}}</h3>
						<p>{{book.price | currency: 'Rs. '}}</p>

						<ul class="list-unstyled list-inline">
							<li>Rating: {{book.rating}}</li>
							<li>Binding: {{book.binding}}</li>
							<li>Publisher: {{book.publisher}}</li>
							<li>Released: {{book.releaseDate}}</li>
						</ul>
						<p>{{book.details}}</p>			<!-- So this is where I will put buy book --> 
						<button class="btn btn-info pull-left" ng-click="buy(book)">Buy</button>
					</div>								<!-- buy function triggered in app.js in factory which is 											passed in controller app.js line 106 -->
				</li>
			</ul>
		</div>
	</div>